@{
    ViewBag.Title = "Details";
}
<style>
    body {
        background-size: 1400px;
        background-image: url(../Images/bg2.png);
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="color:#FFE033">
                Personal Details Of Donor
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active" style="color:#FFFFFF">Details</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <center>
            <table style="width:60%">
                <tr style="height:50px;border-bottom: 1pt solid black">
                    <td style="width:50%;text-align:center">
                        <b>Name:</b>
                    </td>
                    <td style="width:50%;text-align:center">
                        Zain Ali
                    </td>
                </tr>
                <tr style="height:50px;border-bottom: 1pt solid black">
                    <td style="width:50%;text-align:center">
                        <b>Blood Group:</b>
                    </td>
                    <td style="width:50%;text-align:center">
                        B+
                    </td>
                </tr>
                <tr style="height:50px;border-bottom: 1pt solid black">
                    <td style="width:50%;text-align:center">
                        <b>No.Of Donation:</b>
                    </td>
                    <td style="width:50%;text-align:center">
                        10
                    </td>
                </tr>
                <tr style="height:50px;border-bottom: 1pt solid black">
                    <td style="width:50%;text-align:center">
                        <b>Contact Number:</b>
                    </td>
                    <td style="width:50%;text-align:center">
                        0223-99876654
                    </td>
                </tr>
                <tr style="height:50px;border-bottom: 1pt solid black">
                    <td style="width:50%;text-align:center">
                        <b>Date Of Birth:</b>
                    </td>
                    <td style="width:50%;text-align:center">
                        12-10-1998
                    </td>
                </tr>
                <tr style="height:50px;border-bottom: 1pt solid black">
                    <td style="width:50%;text-align:center">
                        <b>Gender:</b>
                    </td>
                    <td style="width:50%;text-align:center">
                        Male
                    </td>
                </tr>
                <tr style="height:50px;border-bottom: 1pt solid black">
                    <td style="width:50%;text-align:center">
                        <b>Address:</b>
                    </td>
                    <td style="width:50%;text-align:center">
                        Garhi Shahu, UET Lahore
                    </td>
                </tr>
            </table>
        </center>
        <hr />
    </div>


