@{
    ViewBag.Title = "Approve Request";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="color:#FFE033">
                Approve Request
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active"style="color:#FFFFFF">Post Requests</li>
            </ol>
        </div>
        <style>
            body {
                background-size: 1400px;
                background-image: url(../Images/bg2.png);
            }
        </style>
        <center>
            <table class="w3-table w3-striped " style="width:65%">
                <tr style="height:82px">
                    <td style="text-align:left;padding: 0px 0px 0px 50px">
                        <b>NAME :</b> Sadia Amjad
                        <br />
                        <b>CONTACT :</b> 0303-******
                        <br />
                        <b>ADDRESS :</b> UET,Lahore
                    </td>
                    <td style="text-align:right;padding: 0px 50px 0px 0px">
                        <button class="btn btn-primary" onclick="alert('Request Declined!')">Decline</button>
                        <button class="btn btn-primary" onclick="alert('Request Approved Successfully!')">Approve</button>
                    </td>
                </tr>
            </table>
        </center>
        <hr>
        <center>
            <table class="w3-table w3-striped " style="width:65%">
                <tr style="height:82px">
                    <td style="text-align:left;padding: 0px 0px 0px 50px">
                        <b>NAME :</b> Sadia Amjad
                        <br />
                        <b>CONTACT :</b> 0303-******
                        <br />
                        <b>ADDRESS :</b> UET,Lahore
                    </td>
                    <td style="text-align:right;padding: 0px 50px 0px 0px">
                        <button class="btn btn-primary" onclick="alert('Request Declined!')">Decline</button>
                        <button class="btn btn-primary" onclick="alert('Request Approved Successfully!')">Approve</button>
                    </td>
                </tr>
            </table>
        </center>
        <hr>
        <center>
            <table class="w3-table w3-striped " style="width:65%">
                <tr style="height:82px">
                    <td style="text-align:left;padding: 0px 0px 0px 50px">
                        <b>NAME :</b> Sadia Amjad
                        <br />
                        <b>CONTACT :</b> 0303-******
                        <br />
                        <b>ADDRESS :</b> UET,Lahore
                    </td>
                    <td style="text-align:right;padding: 0px 50px 0px 0px">
                        <button class="btn btn-primary" onclick="alert('Request Declined!')">Decline</button>
                        <button class="btn btn-primary" onclick="alert('Request Approved Successfully!')">Approve</button>
                    </td>
                </tr>
            </table>
        </center>
        <hr>
        <center>
            <table class="w3-table w3-striped " style="width:65%">
                <tr style="height:82px">
                    <td style="text-align:left;padding: 0px 0px 0px 50px">
                        <b>NAME :</b> Sadia Amjad
                        <br />
                        <b>CONTACT :</b> 0303-******
                        <br />
                        <b>ADDRESS :</b> UET,Lahore
                    </td>
                    <td style="text-align:right;padding: 0px 50px 0px 0px">
                        <button class="btn btn-primary" onclick="alert('Request Declined!')">Decline</button>
                        <button class="btn btn-primary" onclick="alert('Request Approved Successfully!')">Approve</button>
                    </td>
                </tr>
            </table>
        </center>
        <hr>
        <center>
            <table class="w3-table w3-striped " style="width:65%">
                <tr style="height:82px">
                    <td style="text-align:left;padding: 0px 0px 0px 50px">
                        <b>NAME :</b> Sadia Amjad
                        <br />
                        <b>CONTACT :</b> 0303-******
                        <br />
                        <b>ADDRESS :</b> UET,Lahore
                    </td>
                    <td style="text-align:right;padding: 0px 50px 0px 0px">
                        <button class="btn btn-primary" onclick="alert('Request Declined!')">Decline</button>
                        <button class="btn btn-primary" onclick="alert('Request Approved Successfully!')">Approve</button>
                    </td>
                </tr>
            </table>
        </center>
        <hr>
        <center>
            <table class="w3-table w3-striped " style="width:65%">
                <tr style="height:82px">
                    <td style="text-align:left;padding: 0px 0px 0px 50px">
                        <b>NAME :</b> Sadia Amjad
                        <br />
                        <b>CONTACT :</b> 0303-******
                        <br />
                        <b>ADDRESS :</b> UET,Lahore
                    </td>
                    <td style="text-align:right;padding: 0px 50px 0px 0px">
                        <button class="btn btn-primary" onclick="alert('Request Declined!')">Decline</button>
                        <button class="btn btn-primary" onclick="alert('Request Approved Successfully!')">Approve</button>
                    </td>
                </tr>
            </table>
        </center>

        <hr>
        <center>
            <table class="w3-table w3-striped " style="width:65%">
                <tr style="height:82px">
                    <td style="text-align:left;padding: 0px 0px 0px 50px">
                        <b>NAME :</b> Sadia Amjad
                        <br />
                        <b>CONTACT :</b> 0303-******
                        <br />
                        <b>ADDRESS :</b> UET,Lahore
                    </td>
                    <td style="text-align:right;padding: 0px 50px 0px 0px">
                        <button class="btn btn-primary" onclick="alert('Request Declined!')">Decline</button>
                        <button class="btn btn-primary" onclick="alert('Request Approved Successfully!')">Approve</button>
                    </td>
                </tr>
            </table>
        </center>

        <hr>
        <center>
            <table class="w3-table w3-striped " style="width:65%">
                <tr style="height:82px">
                    <td style="text-align:left;padding: 0px 0px 0px 50px">
                        <b>NAME :</b> Sadia Amjad
                        <br />
                        <b>CONTACT :</b> 0303-******
                        <br />
                        <b>ADDRESS :</b> UET,Lahore
                    </td>
                    <td style="text-align:right;padding: 0px 50px 0px 0px">
                        <button class="btn btn-primary" onclick="alert('Request Declined!')">Decline</button>
                        <button class="btn btn-primary" onclick="alert('Request Approved Successfully!')">Approve</button>
                    </td>
                </tr>
            </table>
        </center>

    </div>
</div>