@{
    ViewBag.Title = "Post Request";
}

<!DOCTYPE html>

<html>
<head>
    <style>
        input[type=text], select {
            width: 20%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type=submit]:hover {
                background-color: #45a049;
            }
    </style>
    <meta name="viewport" content="width=device-width" / >
    <title> RequestForm</title>
</head>
<body>
    <style>
        body {
            background-size: 1400px;
            background-image: url(../Images/bg2.png);
        }
    </style>

    <center>
        <h2 style="color:#FFE033">BRING A LIFE</h2>
        <h2 style="color:#FFE033"> BACK TO POWER</h2>
        <h4> Make Blood Donation Your Responsibility</h4>
        <hr / >
        <div class="row">
            <div class="col-md-12">
                <h4> Your Name </h4> &nbsp; <input id="Text1" type="text" / >
                <h4> Contact Number </h4> &nbsp; <input id="Text1" type="text" / >
            </div>
            <div class="col-md-12">
                <h4> Acceptor's Address </h4> &nbsp; <input id="Text1" type="text" />
                <h4> Blood Group </h4> &nbsp; <input id="Text1" type="text" / >
            </div>
        </div> <hr / >
        <div class="form-group">
            <div class="col-md-12">
                <!-- <button type ="button" onclick="alert('Data Submitted Successfully!')" > Send Request</button >-->
                <button class="btn btn-primary" onclick="alert('Data Submitted Successfully!')"> Send Request</button>
            </div>
        </div>
    </center>



    <div class="col-lg-12">
        <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
        <iframe width="100%" scrolling="no" height="400px" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d435518.68178593647!2d74.07126263129175!3d31.483220874508355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39190483e58107d9%3A0xc23abe6ccc7e2462!2sLahore%2C+Punjab%2C+Pakistan!5e0!3m2!1sen!2sus!4v1542012220650"</iframe>
    </div>

</body>
</html>
